{% extends 'base.html' %}

{% block title %}
<title>О нас</title>
{% endblock %}

{% block body %}

<h2>Кто мы и что предлагаем</h2>
<p>
    Наша компания предоставляет услуги по проведению квестов в реальности с 2015 года.
    За это время мы успели провести более 5000 игр, открыть 5 квестов, и провести более 100 различных акций
<br><h1>Почему именно мы?</h1>
<br> Мы являемся единственной компанией в городе, которая не работает по франшизе.
     Иными словами, каждый наш квест был придуман полностью нами
</p>

{% endblock %}