{% extends 'base.html' %}

{% block title %}
<title>Авторизация</title>
{% endblock %}


{% block body %}
<div class="container mt-5">
<form method="post">
    {{ form.hidden_tag() }}
            
    <div>
        {{ form.login.label }}
        {{ form.login(class_="form-control") }}
        {% for error in form.login.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
</div>
{% endblock %}