{% extends 'base.html' %}

{% block title %}
<title>Фото</title>
{% endblock %}

{% block body %}

<div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/giper_3.jpg" class="size-set">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">

                                        <h5>ГИПЕРКВЕСТ</h5>

                                    </div>
                                    <small class="text-muted">Спасительное нечто</small>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/giper_1.jpg" class="size-set">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>ГИПЕРКВЕСТ</h5>
                                </div>
                                <small class="text-muted">Сектор А</small>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/giper_2.jpg" class="size-set">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <h5>ГИПЕРКВЕСТ</h5>

                                </div>
                                <small class="text-muted">Индикатор жизни</small>

                            </div>
                        </div>
                    </div>




                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/prizraki_1.jpg" class="size-set">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <h5>Призрак кошмарной хижины</h5>

                                </div>
                                <small class="text-muted">Спасительное нечто</small>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/prizraki_2.jpg" class="size-set">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Призрак кошмарной хижины</h5>
                                </div>
                                <small class="text-muted">Сектор А</small>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/prizraki_3.jpg" class="size-set">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Призрак кошмарной хижины</h5>
                                </div>
                                <small class="text-muted">Индикатор жизни</small>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/bunker_1.jpg" class="size-set">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Секретный бункер</h5>
                                </div>
                                <small class="text-muted">Индикатор жизни</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/bunker_2.jpg" class="size-set">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Секретный бункер</h5>
                                </div>
                                <small class="text-muted">Индикатор жизни</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/bunker_3.jpg" class="size-set">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Секретный бункер</h5>
                                </div>
                                <small class="text-muted">Индикатор жизни</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .size-set {
                max-height: 350px;
            }
        </style>

{% endblock %}











